<!--<script type="application/javascript" src="/JqueryUI/chat.js"></script>-->
<ion-view title="Chat Board">
    <ion-content>
        <!--<h1>Chat</h1>-->
        <div class="contentChat"></div>
        <div class="item item-input-inset chatAction">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Content" ng-model="chatContent">
            </label>
            <button class="button button-clear">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>

<!--<script type="application/javascript">-->
    <!--jQuery(function(){-->
        <!--jQuery('ion-content').ready(function(){-->
            <!--console.log(jQuery('ion-content').height());-->
            <!--console.log(jQuery('.chatAction').height());-->
            <!--jQuery('.contentChat').height(jQuery('ion-content').height()- jQuery('.chatAction').height());-->
        <!--});-->
    <!--});-->
<!--</script>-->