<!--<script type="application/javascript" src="/JqueryUI/chat.js"></script>-->
<ion-view title="Chat Board" class="chatBoard">
    <ion-content>
        <div class="layout">
            <div class="contentChat"></div>
            <div class="item item-input-inset chatAction">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Content" ng-model="message" ng-enter="chatAction(message)">
                </label>
                <button class="button button-clear">
                    Submit
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>

<!--<script type="application/javascript">-->
    <!--jQuery(function(){-->
        <!--jQuery('ion-content').ready(function(){-->
            <!--console.log(jQuery('ion-content').height());-->
            <!--console.log(jQuery('.chatAction').height());-->
            <!--jQuery('.contentChat').height(jQuery('ion-content').height()- jQuery('.chatAction').height());-->
        <!--});-->
    <!--});-->
<!--</script>-->